[package]
name = "pearl"
version = "0.4.0"
description = "Pearl is a low level blob-based I/O library"
repository = "https://github.com/qoollo/pearl"
homepage = "https://github.com/qoollo/pearl"
documentation = "https://docs.rs/pearl"
keywords = ["blob", "blob-storage", "append-only", "key-value", "async"]
categories = ["data-structures", "filesystem"]
license = "MIT"
authors = ["Pavel Yakushin <p.yakushin@qoollo.com>", "Kirill Bushminkin <kbushminkin@gmail.com"]
edition = "2018"
readme = "README.md"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1

[dependencies]
bincode = "1.3.1"
chrono = "0.4"
crc = "1.8"
env_logger = "0.7"
log = "0.4"
rand = "0.7"
serde = "1.0"
serde_derive = "1.0"
futures = "0.3.5"
clap = { version = "2.33" }
#optional = true 

bitvec = "0.17"
ahash = "0.4.4"
rio = { git="https://github.com/agend/rio/", branch="fix_compiling_for_musl" }
thiserror = "1.0"
anyhow = "1.0"

[dependencies.tokio]
version = "0.2.22"
features = ["time", "rt-core", "macros", "fs", "io-util", "sync", "stream"]

[features]
# benchmark = ["clap"]

[lib]
name = "pearl"

[[bin]]
name = "benchmark"
path = "src/benchmark/bin.rs"
# required-features = ["benchmark"]
